* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Navbar  */

header {
    /* background-color: lightgrey; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.logo {
    margin-left: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    padding-left: 7%;
}

.main-nav {
    text-decoration: none;
    color: white;
}

.main-nav:hover {
    color: rgb(188, 192, 197);
}

.login, .get-started {
    background-color: black;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.btns {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.login:hover {
    background-color: rgb(30, 30, 30);
}

.get-started:hover {
    background-color: rgb(30, 30, 30);
}

/* About us page */

main {
    background-color: rgb(164, 164, 164);
    min-height: 70%;
}

nav .about-us {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us p {
    text-align: center;
    padding-top: 35px;
    width: 800px;
}

.section-our-mission {
    background-color: rgb(186, 186, 186);
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-and-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .section-our-mission p {
    text-align: center;
    padding-top: 35px;
    width: 800px;
}

.section-our-mission-text {
    text-align: center;
    padding: 30px;
}

.section-our-mission-imgDiv {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section-our-mission-imgDiv img {
    height: 200px;
}

/* .image1 {}

.image2 {}

.image3 {} */


.section-Meet-Our-Leaders {
    background-color: rgb(169, 169, 169);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-Meet-Our-Leaders-img-div img {
    border-radius: 50%;
}